

 body {
  background-color: #eff1f4;
 }
.col-sm-8 {
  margin-bottom: 30px;
}

.bg-4 { 
    background-color: lightgrey;
    color: #ffffff;
    height: 70px;
    margin-top: 60px;
    padding-top: 22px;
    border-top: 3px teal solid;
    width: 100%;
}


/*these are the icons*/
.sidebar{  
  margin-left: 15px;
  margin-bottom: 20px;
}

/*entire box*/

.panel panel-default {
  float: right;
  margin-bottom: 20px;
  vertical-align: top;
}

h1, h2 {
font-family: 'Source Sans Pro', sans-serif;
color: teal;
margin-left: 20px;
}

.panel-heading {
  color: teal;
  font-family: 'Source Sans Pro', sans-serif;
  size: 19px;
}

.social {
  margin:10px;
  width: 60px;
  height: 60px;

}

.panel-default .panel-heading {
 color: teal;
 font-size: 24px;
}

.col-sm-8 {
    border: .5px lightgrey solid;
    border-radius: 3px;
    background-color: white;
    padding-bottom: 20px;
}

/*.col-sm-4 {
    border: .5px lightgrey solid;
    border-radius: 3px;
    background-color: white;
    padding-bottom: 20px;
}*/

/*.col-sm-6 {
  padding-left: 50px;
}*/

/*.portfolio-img {
  text-align: center;
  display: block;
  margin-left: 75px;
}*/

span {
  text-align: center;
}

.work{
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

/*.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}*/

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 0px;

}

button {
  margin-top: 30px;
}

.img-bio {

width: 100%;
height: auto;
    }

.navbar-brand {
font-family: 'Source Sans Pro', sans-serif;
font-size: 24px;
    }

